$prefix: 'eui-empty-data';
.#{$prefix} {
  text-align: center;
  .#{$prefix}-icon {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    background-size: 100% 100%;
  }
  .#{$prefix}-content {
    color: rgba(0, 0, 0, .4);
    margin-top: 5px;
  }
}
